/* vinculo la google font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');
*{
    font-family: 'Roboto', sans-serif;
    /* reset */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
/* Nav */
nav{
    padding: 10px 30px;
    background-color: rgba(255, 255, 255, 0.952);
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
    nav div{
        margin-bottom: 4px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    nav svg{
        fill: rgb(223, 27, 76);
        width: 4rem;
        height: 4rem;
        padding-bottom: 10px;
    }
    nav ul{
        list-style: none;
        display: flex;
        justify-content: space-around;
    }
        nav ul li a{
            text-decoration: none;
            color: rgba(15, 15, 15, 0.884);
            font-weight: 300;
            font-size: 1.6rem;
        }
        nav ul li a:hover{
            color: rgb(223, 27, 76);
        }
        nav .p1{
            margin-top: 10px;
        }
        nav .nav-p1{
            padding-left: 10px;
        }
.input{
    font-size: 1.4rem;
    font-weight: 300;
    width:50%;
}
.button{
    border: none;
    background-color: rgb(223, 27, 76);
    padding: 4px;
}
.flex{
    margin-left: 20px;
}
.crear-cuenta{
    border-right: solid 1px;
    padding-right: 6px;
    margin-right: 6px;
}
nav a p:hover{
    text-decoration: underline;
}
.carrito:hover{
    cursor: pointer;
}
.botonera{
    background-color: rgba(255, 255, 255, 0.952);
}
    .botonera a{
        color: rgba(15, 15, 15, 0.884);
        font-weight: 300;
        font-size: 1.6rem;
    }
    .botonera a:hover{
        color: rgb(223, 27, 76);
    }
.btn-nav{
    border: none;
    background-color: rgb(223, 27, 76);
    padding: 4px;
}
.btn-nav:hover{
    background-color: rgb(219, 60, 100);
}
/* ends nav */
/* header index */
header img{
    width: 100%;
}
/* ends header */
/* main */
main{
    padding: 20px 40px;
    background-color: rgba(255, 255, 255, 0.952);
}
/* ends main */
/* footer */
footer{
    background-color: black;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start
}
    footer ul{
        list-style: none;
    }
        footer ul li a, footer a{
            text-decoration: none;
        }
    footer p,
    footer ul li a, footer a{
        color: rgba(255, 255, 255, 0.952);
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    footer svg{
        fill: rgb(223, 27, 76);
    }
.li{
    display: flex;
    flex-direction: row;
}
.li .svgli{
    margin-right: 10px;
}
.wpp{
    margin-bottom: 10px;
}
footer a:not(.logos-no):hover{
    text-decoration: underline;
}
/* ends footer */
h1,
h2,
form label,
p,a{
    color: rgba(15, 15, 15, 0.884);
}
a{
    text-decoration: none;
    font-weight: 300;
}
form label{
    font-size: 1.8rem;
    font-weight: 300;
    margin-bottom: 10px;
    display: block;
}
p{
    font-weight: 300;
    font-size: 1.8rem;
    line-height: 2.6rem;
    margin-bottom: 10px;
}
h1, h2{
    font-weight: 400;
}
h1{
    font-size: 3rem;
    margin-bottom: 15px;
}
h2{
    font-size: 2rem;
    margin-bottom: 10px;
}
button:hover{
    cursor: pointer;
}
/* selectores de class */
.fs2{
    font-size: 2rem;
}
.fs18{
    font-size: 1.8rem;
}
.fw500{
    font-weight: 500;
}
.text-center{
    text-align: center;
}
.mb20{
    margin-bottom: 20px;
}
.mb24{
    margin-bottom: 24px;
}
.svg{
    width: 4rem;
    height: 4rem;
    margin-right: 1rem;
}
.svg1{
    width: 2rem;
    height: 2rem;
}
.svg2{
    fill: rgba(255, 255, 255, 0.952);
    width: 1.8em;
    height: 1.8em;
    padding-bottom: 2px;
}
.h2{
    font-size: 1.6rem;
    font-weight: 500;
}
.p{
    font-size: 1.6rem;
}
.p1{
    font-size: 1.2rem;
}
/* selector de atributo para las palabras con vinculos dentro de un texto */
.main-pregsfrecuentes div a[href="https://api.whatsapp.com/send/?phone=5491122916888"]{
    color: rgba(255, 255, 255, 0.952);
}
.main-pregsfrecuentes div a[href="https://api.whatsapp.com/send/?phone=5491122916888"]:hover{
    color: rgba(15, 15, 15, 0.884);
}
/* ends selector de atributo */
/* Productos destacados index */
.row figure figcaption{
    font-size: 1.8em;
    font-weight: 300;
    margin-top: 10px;
}
.row figure p{
    font-size: 1.6em;
    font-weight: 500;
    margin-bottom: 20px;
}
.bg-pink{
    background-color: rgb(223, 27, 76);
    color: rgba(255, 255, 255, 0.952);
    font-weight: 400;
    width: 50%;
    font-size: 1.2em;
    border-radius: 0;
}
.ver-mas{
    width: 10%;
    margin-top: 10px;
}
.btn:hover{
    background-color: rgb(219, 60, 100);
    color: rgba(255, 255, 255, 0.952);
}
/* ends productos destacados index */
/* index main */
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: auto;
    height: auto;
    margin: 10px auto;
}
.main .div{
    display: grid;
    grid-template-columns:  20% 300px;
    grid-template-rows: 40px 40px;
    margin-bottom: 20px;
    padding-right: 20px;
    padding-left: 40px;
}
.main-svg{
    grid-column: 1/2;
    grid-row: 1/3;
    width: 4rem;
    height: 4rem;
    margin-right: 30px;
    margin-top: 12px;
}
.main-h2{
    grid-row: 1/2;
    grid-column: 2/3;
    margin-top: 10px;
}
.main-p{
    grid-row: 2/3;
    grid-column: 2/3;
}
.border-div{
    border-right: solid;
    border-width: 1px;
}
/* ends index main */
.flex{
    display: flex;
    flex-grow: 60;
}
.d{
    display: flex;
    align-items: center;
}
.label{
    color: rgb(223, 27, 76);
    font-size: 1.4rem;
    font-weight: 300;
    padding-top: 10px;
    margin-left: 8px;
    
}
/* Tienda con GRID */
.filters{
    padding: 0 20px 30px 30px;
}
    .filters a{
        color: rgba(15, 15, 15, 0.884);
        text-decoration: none;
        font-size: 1.4em;
        font-weight: 300;
        letter-spacing: 0.6px;
    }
        .filters a:hover{
            color:rgb(223, 27, 76);
        }
    .filters span{
        display: block;
        color: rgba(15, 15, 15, 0.884);
        font-size: 1.8em;
        font-weight: 400;
        letter-spacing: 1px;
        margin: 20px 0;
    }
    .filters select{
        border: none;
        background-color: rgba(255, 255, 255, 0.952);
        color: rgba(15, 15, 15, 0.884);
        font-size: 1.8em;
        letter-spacing: 1px;
        padding: 10px 10px 10px 0px;
        margin-bottom: 10px;
    }
    .filters li{
        list-style: none;
    }
    .tienda{
        display: grid;
        grid-template-columns: 20% repeat(4,1fr);
        grid-template-rows: 80px repeat(4,300px);
        gap: 5px;
    }
        .tienda .title{
            grid-row: 1/2;
            grid-column: 1/6;
        }
        .tienda .filters{
            grid-column: 1/2;
            grid-row: 2/6;
        }
        .tienda .prod1{
            grid-column: 2/3;
            grid-row: 2/3;
        }
        .tienda .prod2{
            grid-column: 3/4;
            grid-row: 2/3;
        }
        .tienda .prod3{
            grid-column: 4/5;
            grid-row: 2/3;
        }
        .tienda .prod4{
            grid-column: 5/6;
            grid-row: 2/3;
        }
        .tienda .prod5{
            grid-column: 2/3;
            grid-row: 3/4;
        }
        .tienda .prod6{
            grid-column: 3/4;
            grid-row: 3/4;
        }
        .tienda .prod7{
            grid-column: 4/5;
            grid-row: 3/4;
        }
        .tienda .prod8{
            grid-column: 5/6;
            grid-row: 3/4;
        }
        .tienda .prod9{
            grid-column: 2/3;
            grid-row: 4/5;
        }
        .tienda .prod10{
            grid-column: 3/4;
            grid-row: 4/5;
        }
        .tienda .prod11{
            grid-column: 4/5;
            grid-row: 4/5;
        }
        .tienda .prod12{
            grid-column: 5/6;
            grid-row: 4/5;
        }
        .tienda .prod13{
            grid-column: 2/3;
            grid-row: 5/6;
        }
        .tienda .prod14{
            grid-column: 3/4;
            grid-row: 5/6;
        }
        .tienda .prod15{
            grid-column: 4/5;
            grid-row: 5/6;
        }
/* pages de filters con GRID */
.tienda1{
    display: grid;
    grid-template-columns: 20% repeat(4,1fr);
    grid-template-rows: 80px repeat(2,300px);
    gap: 5px;
}
    .tienda1 .title{
        grid-row: 1/2;
        grid-column: 1/6;
    }
    .tienda1 .filters{
        grid-row: 2/4;
        grid-column: 1/2;
    }
    .tienda1 .prod1{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .tienda1 .prod2{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .tienda1 .prod3{
        grid-row: 2/3;
        grid-column: 4/5;
    }
    .tienda1 .prod4{
        grid-row: 2/3;
        grid-column: 5/6;
    }
    .tienda1 .prod5{
        grid-row: 3/4;
        grid-column: 2/3;
    }
 /*ends pages de filters  */
 /* dise침o de cada producto */
.prodtienda{
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.prodfigc{
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 10px;
}
.prodp{
    margin-bottom: 20px;
    font-size: 1.5em;
    font-weight: 500;
}
.prodbut{
    border: none;
    padding: 6px 10px;
    font-weight: 400;
    background-color: rgb(223, 27, 76);
    color: rgba(255, 255, 255, 0.952);
    width: 100%;
}
/* ends cada producto */
/* Preguntas frecuentes */
.pregs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 20% repeat(2,150px) 100px;
    gap: 20px;
    margin-bottom: 20px;
}
    .pregs .title{
        grid-column: 1/4;
        grid-row: 1/2;
    }
    .pregs .preg1{
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .pregs .preg2{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .pregs .preg3{
        grid-column: 3/4;
        grid-row: 2/4;
    }
    .pregs .preg4{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .pregs .preg5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .pregs .preg6{
        grid-column: 1/2;
        grid-row: 4/5;
    }
    .pregs .preg7{
        grid-column: 2/4;
        grid-row: 4/5;
    }
.backgpink{
    background-color: rgb(223, 27, 76);
    border: none;
    border-radius: 5px;
    padding: 10px 10px 100px 10px;
}
.pregsp{
    color: rgba(255, 255, 255, 0.952);
}
/* ends preguntas frecuentes */
/* Contacto */
.contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
    .contacto div a{
        font-weight: 300;
        font-size: 1.6rem;
        line-height: 2.4rem;
    }
    .contacto .div1{
        text-align: center;
    }
    .contacto .input{
        border: none;
        padding: 6px 20px;
        font-weight: 400;
        background-color: rgb(223, 27, 76);
        color: rgba(255, 255, 255, 0.952);
        text-align: center;
        width: 40%;
        margin-top: 10px;
    }
    .contacto h2{
        font-size: 2em;
        font-weight:300;
        margin-bottom: 20px;
    }
    .contacto label{
        text-align: left;
        font-size: 1.6em;
    }
/* ends Contacto */
/* Quienes somos con FLEX y GRID */
.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
    .about .about-div1{
       display: flex;
       justify-content: space-evenly;
       align-items: center;
       margin: 30px 100px 30px 100px;
    }
    .about .about-p1{
        margin-left: 18%;
    }
    .about-div2{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: 1fr 10%;
        align-items: center;
        margin-bottom: 20px;
    }
    .about-div2 .about-p2{
        margin-right: 10%;
        margin-left: 10%;
        grid-column: 1/2;
        grid-row: 1/2;
    }
    .about-div2 .about-vertienda{
        margin-left: 40%;
        width: 20%;
        grid-column: 1/2;
        grid-row: 2/3;
    }
    .about-div2 .about-img{
        grid-column: 2/3;
        grid-row: 1/3;
        margin-left: 18%;
    }
    .about-vertienda{
        border: none;
        background-color: rgb(223, 27, 76);
        color: rgba(255, 255, 255, 0.952);
        padding: 6px 20px;
        font-weight: 400;
        text-align: center;
        width: 40%;
        margin-top: 10px;
    }
/* ends quienes somos */
/* Crear cuenta e Iniciar sesi칩n */
.crear-cuenta,
.iniciar-sesion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
    .crear-cuenta label,
    .iniciar-sesion label{
        text-align: left;
        width: 40vw;
        margin-left: 60px;
        margin-top: 20px;
    }
    .iniciar-sesion label{
        margin-right: 60px;
    }
    .crear-cuenta input,
    .iniciar-sesion input{
        width: 40vw;
    }
    .crear-cuenta input[value="Crear cuenta"],
    .iniciar-sesion input[value="Iniciar sesi칩n"]{
        border: none;
        padding: 6px 20px;
        font-weight: 400;
        background-color: rgb(223, 27, 76);
        color: rgba(255, 255, 255, 0.952);
        text-align: center;
        width: 30%;
        margin-top: 20px;
        margin-bottom: 6px;
    }
    .crear-cuenta input[value="Crear cuenta"]:hover,
    .iniciar-sesion input[value="Iniciar sesi칩n"]{
        cursor: pointer;
    }
    .iniciar-sesion input[type="password"]{
        margin-bottom: 10px;
    }
.crear-cuenta-p,
.iniciar-sesion-p{
    font-size: 1.4em;
}
.crear-cuenta-a,
.iniciar-sesion-a{
    font-weight: 600;
}
.crear-cuenta-a:hover,
.iniciar-sesion-a:hover,
.forgot-password:hover{
    text-decoration: underline;
}
.forgot-password{
    font-size: small;
    font-weight: bold;
    padding-right: 28vw;
}
/* ends crear cuenta e iniciar sesion */
/* RESPONSIVE */
@media(max-width: 768px){
    /* index */
    .main{
        flex-direction: column;
    }
    .main .border-div{
        border-bottom: solid;
        border-right: none;
        border-width: 1px;
    }
    .vermas{
        width: auto;
        margin-left: 0%;
    }
    footer{
        flex-direction: column;
        align-items: left;
        text-align: left;
    }
        footer div{
            margin-bottom: 20px;
        }
    /* ends index */
    /* quienes somos */
    .about .about-div1,
    .about .about-div2{
        flex-direction: column;
    }
    .about .about-p1{
        margin-top: 30px;
        margin-left: auto;
        margin-bottom: 0;
    }
    .about .about-div2{
        grid-template-columns: 1fr;
        grid-template-rows: 2fr 1fr 20%;
        align-content: center;
    }
    .about-div2 .about-p2{
        grid-column: 1/2;
        grid-row: 2/3;
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .about-div2 .about-vertienda{
        width: 20%;
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .about-div2 .about-img{
        grid-column: 1/2;
        grid-row: 1/2;
        margin:auto;
    }
    /* ends quienes somos */
    /* tienda */
    .tienda{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        grid-template-areas: 
        "title" "filters" "prod1" "prod2" "prod3" "prod4" "prod5" "prod6" "prod7" "prod8" "prod9" "prod10" "prod11" "prod12" "prod13" "prod14" "prod15";
    }
    .tienda .title{
        grid-area: title;
    }
    .tienda .filters{
        grid-area: filters;
    }
    .tienda .prod1{
        grid-area: prod1;
    }
    .tienda .prod2{
        grid-area: prod2;
    }
    .tienda .prod3{
        grid-area: prod3;
    }
    .tienda .prod4{
        grid-area: prod4;
    }
    .tienda .prod5{
        grid-area: prod5;
    }
    .tienda .prod6{
        grid-area: prod6;
    }
    .tienda .prod7{
        grid-area: prod7;
    }
    .tienda .prod8{
        grid-area: prod8;
    }
    .tienda .prod9{
        grid-area: prod9;
    }
    .tienda .prod10{
        grid-area: prod10;
    }
    .tienda .prod11{
        grid-area: prod11;
    }
    .tienda .prod12{
        grid-area: prod12;
    }
    .tienda .prod13{
        grid-area: prod13;
    }
    .tienda .prod14{
        grid-area: prod14;
    }
    .tienda .prod15{
        grid-area: prod15;
    }
    .tienda .filters span,
    .tienda .filters label,
    .tienda .filters ul,
    .tienda .filters input[type="checkbox"]{
        display: none;
    }
    .tienda .filters select{
        width: 100%;
        background-color: rgb(223, 27, 76);
        color: rgba(255, 255, 255, 0.952);
        padding-left: 10px;
        border-radius: 5px;
    }
    /* ends tienda */
    /* preguntas frecuentes */
    .pregs{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 20px;
        margin-bottom: 20px;
    }
        .pregs .title{
            grid-column: 1/2;
            grid-row: 1/2;
        }
        .pregs .preg1{
            grid-column: 1/2;
            grid-row: 2/3;
        }
        .pregs .preg2{
            grid-column: 1/2;
            grid-row: 3/4;
        }
        .pregs .preg3{
            grid-column: 1/2;
            grid-row: 4/5;
        }
        .pregs .preg4{
            grid-column: 1/2;
            grid-row: 5/6;
        }
        .pregs .preg5{
            grid-column: 1/2;
            grid-row: 6/7;
        }
        .pregs .preg6{
            grid-column: 1/2;
            grid-row: 7/8;
        }
        .pregs .preg7{
            grid-column: 1/2;
            grid-row: 8/9;
        }
        .padding-pregs{
            padding: 20px 10px 20px 20px;
        }
    /* ends preguntas frecuentes */
    /* contacto */
    .contacto{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .text-responsive{
        text-align: center;
    }
    .contacto div{
        padding-right: 0;
    }
    .contacto .div1{
        text-align: left;
        margin-top: 20px;
    }
    .contacto .input{
        width: 100%;
    }
    .contacto .textarea{
        width: 100%;
    }
    /* ends contacto */
}