.contacto{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    div a{
        font-weight: $textLight;
        font-size: $textLg;
        line-height: 2.4rem;
    }
    .div1{
        text-align: $textCenter;
    }
    .input{
        border: none;
        padding: 6px 20px;
        font-weight: $textRegular;
        background-color: $mainColor;
        color: $white;
        text-align: $textCenter;
        width: 40%;
        margin-top: 10px;
    }
    h2{
        font-size: $textXXL;
        font-weight: $textLight;
        margin-bottom: 20px;
    }
    label{
        text-align: $textLeft;
        font-size: $textLg;
    }
    ul{
        padding-left: 0;
    }
}