.main-error{
    background-image: url(../images/error-404.webp);
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: $textCenter;
    h1{
        text-align: left;
        margin-left: 30px;
        font-size: 6rem;
        color: $white;
        padding-top: 30px;
    }
    button{
        margin-top: 28vh;
        margin-bottom: 40px;
        border: none;
        padding: 10px;
        font-size: $textXL;
        background-color: $keyColor;
        &:hover{
            background-color: rgb(51, 50, 50);
        }
        a{
            color: $white;
        }
    }
}