footer{
    background-color: $black;
    padding: 20px 40px;
    @include flex(row, space-between);
    align-items: flex-start;
    margin-top: 40px;
    ul{
        list-style: none;
        padding-left: 0%;
        li a{
            text-decoration: none;
        }
    }
    a{
        text-decoration: none;
        &:not(.logos-no):hover{
            text-decoration: underline;
        }
    }
    p,
    ul li a, a{
        color: $white;
        font-weight: $textLight;
        font-size: $textLg;
        line-height: 2.4rem;
    }
    svg{
        fill: $mainColor;
    }
}      
.li{
    display: flex;
    flex-direction: row;
    .svgli{
        margin-right: 10px;  
    }
}
.wpp{
    margin-bottom: 10px;
}
.svg{
    width: 4rem;
    height: 4rem;
    margin-right: 10px;
}
.svg1{
    width: 2rem;
    height: 2rem;
}
