.filters{
    padding: 0 20px 30px 30px;
    a{
        color: $keyColor;
        text-decoration: none;
        font-size: $textMd;
        font-weight: $textLight;
        letter-spacing: 0.6px;
        &:hover{
            color: $mainColor;
        }
    }
    span{
        display: block;
        color: $keyColor;
        font-size: $textXL;
        font-weight: $textRegular;
        letter-spacing: 1px;
        margin: 20px 0;
    }
    select{
        border: none;
        background-color: $white;
        color: $keyColor;
        font-size: $textXL;
        letter-spacing: 1px;
        padding: 10px 10px 10px 0px;
        margin-bottom: 10px;
    }
    li{
        list-style: none;
    }
    ul{
        padding-left: 0;
    }  
} 
.tienda{
    @include grid(20% repeat(4,1fr), 80px repeat(4,300px), 5px);
    .title{
        grid-column: 1/6;
        grid-row: 1/2;
    }
    .filters{
        grid-column: 1/2;
        grid-row: 2/6;
    }
    .prod1{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .prod2{
        grid-column: 3/4;
        grid-row: 2/3;
    }
    .prod3{
        grid-column: 4/5;
        grid-row: 2/3;
    }
    .prod4{
        grid-column: 5/6;
        grid-row: 2/3;
    }
    .prod5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .prod6{
        grid-column: 3/4;
        grid-row: 3/4;
    }
    .prod7{
        grid-column: 4/5;
        grid-row: 3/4;
    }
    .prod8{
        grid-column: 5/6;
        grid-row: 3/4;
    }
    .prod9{
        grid-column: 2/3;
        grid-row: 4/5;
    }
    .prod10{
        grid-column: 3/4;
        grid-row: 4/5;
    }
    .prod11{
        grid-column: 4/5;
        grid-row: 4/5;
    }
    .prod12{
        grid-column: 5/6;
        grid-row: 4/5;
    }
    .prod13{
        grid-column: 2/3;
        grid-row: 5/6;
    }
    .prod14{
        grid-column: 3/4;
        grid-row: 5/6;
    }
    .prod15{
        grid-column: 4/5;
        grid-row: 5/6;
    }
}
.label{
    color: $mainColor;
    font-size: $textMd;
    font-weight: $textLight;
    padding-top: 10px;
    margin-left: 8px;
    display: inline;
    
}
// diseño de cada producto
.prodtienda{
    text-align: $textCenter;
    @include flex(column, center);
    align-items: center;
}
.prodfigc{
    font-size: $textMd2;
    font-weight: $textLight;
    margin-top: 10px;
}
.prodp{
    margin-bottom: 20px;
    font-size: $textMd2;
    font-weight: $textBold;
}
.prodbut{
    border: none;
    padding: 6px 10px;
    font-weight: $textRegular;
    background-color: $mainColor;
    color: $white;
    width: 100%;
    font-size: $textSm;
    &:hover{
        background-color: $secondaryColor;
    }
}
/* pages de filters con GRID */
.tienda1{
    @include grid(20% repeat(4,1fr), 80px repeat(2,300px), 5px);
    .title{
        grid-row: 1/2;
        grid-column: 1/6;
    }
    .filters{
        grid-row: 2/4;
        grid-column: 1/2;
    }
    .prod1{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .prod2{
        grid-row: 2/3;
        grid-column: 3/4;
    }
    .prod3{
        grid-row: 2/3;
        grid-column: 4/5;
    }
    .prod4{
        grid-row: 2/3;
        grid-column: 5/6;
    }
    .prod5{
        grid-row: 3/4;
        grid-column: 2/3;
    }
}
.margin-bottom{
    margin-bottom: 10px;
}