// variables globales
// colors
$mainColor: rgb(223, 27, 76);
$white: rgba(255, 255, 255, 0.952);
$black: black;
$keyColor: rgba(15, 15, 15, 0.884);

// fonts
$mainFont:'Roboto', sans-serif;
$secondaryFont: verdana, sans-serif;

// sizing
$textSm: 1,2rem;
$textMd: 1,4rem;
$textLg: 1,6rem;
$textXL: 1,8rem;
$textXXL: 2rem;
$textXXXL: 3rem;

// weight
$textLight: 300;
$textRegular: 400;
$textBold: 500;
